.app {
  width: 600px;
  height: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #a1afd8 0%,	#b4a7d6 10%)
}

.img {
  align-items: center;
}

.bar {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.info {
  text-align: center;
  color: black;
}


